/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color:rgb(229, 143, 193);
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
/* IN THIS PART I DID CSS STYLE FOR HEADER----*/
header {
  background-image:url(img/Natalie\ logo-02.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment:fixed;
}
/* BEYOND IS STYLE FOR NAVIGATION BAR*/
.ul-nav{
  max-width: 100%;
  height:10%;
  background: rgba(122,111,111, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(229, 143, 193, 0.2);
  
}
.nav-li{
  display: inline-block;
  position:relative;
  left:73%;
  margin-top:30px;
  margin-left: 10px;
  list-style: none;
}
a:link,
a:visited {
    color:rgb(229, 143, 193);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(229, 143, 193);
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #000;
    border-bottom: 1px solid transparent;
}
/*---STICKY NAVI FOR WHICH I'M GOING TO US JQUERY TO MANIPULATE---*/
.sticky{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}
.sticky .nav-li { margin-top: 18px; }
.sticky .nav-li li a:link,
.sticky .nav-li li a:visited {
    padding: 20px 0;
    color: #555;
}

/*------*/
section{
  background: rgba(247, 232, 232, 0.1);
  padding: 80px 0;
}
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
h1{
  margin-top:10px;
  margin-bottom: 50px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}














