/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:rgba(122,111,111, 0.2);
  color: rgb(229, 143, 193);
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
/* IN THIS PART I DID CSS STYLE FOR HEADERS----*/
.index{
  background-image:url(img/Natalie\ logo-02.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment:fixed;
}
/*---STATEMENTS.HTML HEADER---*/
.statements{
  height: 100px;
  background: rgb(85, 75, 75)
}
/* BEYOND IS STYLE FOR NAVIGATION BAR*/
.ul-nav{
  max-width: 100%;
  height:100px;
  background: rgba(122,111,111, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(229, 143, 193, 0.2);
}
.nav-li{
  display: inline-block;
  position:relative;
  left:73%;
  margin-top:30px;
  margin-left: 10px;
  list-style: none;
}
a:link,
a:visited {
    color:rgb(229, 143, 193);
    text-decoration:none;
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(229, 143, 193);
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #000;
    border-bottom: 1px solid transparent;
}
/*---STICKY NAVI FOR WHICH I'M GOING TO US JQUERY TO MANIPULATE---*/
.sticky{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}
.sticky .nav-li { margin-top: 35px; }
.sticky .nav-li li a:link,
.sticky .nav-li li a:visited {
    color: #555;
}

/*--ADDING GENERAL STYLE TO THE SECTIONES----*/
section{
  background:rgba(255, 255, 255, 0.8);
  padding: 80px 0;
 }
h1,
h3{
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}
h1{
  margin-top:10px;
  margin-bottom: 50px;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
p{
  margin: 20px;
  text-align: center;
}
em{
  font-size: 105%;
  color: rgb(179, 8, 110);
}
/*---THIS IS STATEMENTS.HTML SECTION STYLE------*/
.artist-stat{
  width: 50%;
  color: rgba(43, 16, 16, 0.842);
  font-size: 110%;
  margin-left: 10%
}
.art-img{
  float:left;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 3%;
}
.article{
  margin-top: 5%;
  margin-left:25%;
}
.art-p{
  text-align:justify;
}
/*--------ADDING STYLE TO FOOTER-----------*/
footer {
  clear: both;
  background-color: #333;
  padding: 50px;
  font-size: 120%;
}
.footer {
  list-style: none;
  float: left;
  margin-left: 2%;
}
.footer a{
  border-bottom: none;
  color:grey;
}
/*------STYLING THE SOCIAL MEDIA ICONS--------*/
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}
/*-----ADDING STYLE TO THE COPYRIGHTS------*/
.copyright {
  font-size: 60%;
  text-align: center;
  margin-top:35px;
}

/*--STYLE FOR COURASEL IN GALERY.HTML---*/
.carousel{
  width:50%;
  border-radius: 15px;
  border: 5px solid rgb(208, 211, 205);
  background: black;
  margin-left: 25%;
  margin-top:15%;
}
.carousel-item > img{
  height: 400px;
  width: auto;
  margin: auto;
}
.gallery{
  background: rgb(235, 235, 217);
}
.h3-gallery{
  margin-bottom: -10%;
}









